.App-Chat {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100dvh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-family: "Inter", sans-serif;
}

/* Chat container */
.chat-container {
    position: relative;
    padding: 16px;
    background-color: white;
    height: 92vh;
    width: 100%;
    max-width: 500px;
    min-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.24);
    overflow: hidden;
}

/* Header styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: -4px;
    position: relative;
    margin-top: -14px;
}

.chat-title {
    text-align: center;
    margin: 0;
    flex: 1;
}

.chat-title h2 {
    font-size: 20px;
    color: #000000; 
    margin: 0;
}

.chat-back-button {
    background: transparent;
    border: none;
    color: #006400; /* Darker green */
    cursor: pointer;
    font-size: 17px;
    padding: 8px;
    transition: color 0.3s;
    margin-top: 4px;
    font-weight: 540;
}

.chat-back-button-icon {
    display: flex;
    align-items: center;
    margin-top: 2px;
}

.back-button svg {
    font-size: 14px;
    margin-right: 8px;
}

/* Messages container */
.messages-container {
    flex: 1;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.messages-container::-webkit-scrollbar {
    display: none;
}

.message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 8px 0;
}

.message-container.user {
    align-items: flex-end;
}

.message {
    padding: 12px;
    border-radius: 12px;
    font-size: 15px;
    width: fit-content;
    max-width: 90%;
    word-wrap: break-word;
}

.message.user {
    background-color: #096609;
    color: #fff;
    text-align: right;
    max-width: 70%;
}

.message.user p {
    color: #fff;
    font-size: 14px;
    margin: 0;
    font-weight: 500;
}

.uploaded-image {
    max-width: 80%;
    border-radius: 8px;
    margin: 8px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.message-container.user .uploaded-image {
    align-self: flex-end;
}

.message.ai {
    background-color: #c8e6c9;
    color: #004d00;
    text-align: left;
}

.message.streaming {
  position: relative;
}

.message.streaming::after {
  content: '...';
  display: inline-block;
  font-size: 20px;
  margin-left: 4px;
  animation: typing 1.4s infinite;
  letter-spacing: 2px;
  color: #006400;
}

@keyframes typing {
  0%, 20% { content: '.'; }
  40% { content: '..'; }
  60%, 100% { content: '...'; }
}

/* Input container */
.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
    padding-top: 4px;
    width: 100%;
    box-sizing: border-box;
    height: 50px;
}

/* Button container - Flex evenly */
.input-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px; 
    padding-top: 4px; 
    width: 100%;
    margin-bottom: 10px;
}

.message-input {
    padding: 8px; 
    background-color: #c8e6c9; 
    color: #004d00; 
    border-radius: 8px;
    border: none;
    font-size: 16px;
    width: 100%; 
    outline: none ;
    padding: 8px;
}

.file-input {
    display: none;
}

.message-input:disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}

.message-input:disabled::placeholder {
    color: #ff4d4f;
    font-weight: 500;
    font-size: 14px;
}

/* Button styles */
.upload-button,
.camera-button,
.send-button {
    background: #096609;
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 32px;
    flex: 1;
    padding: 0 8px;
    margin: 0 2px;
    font-size: 16px;
}

.camera-button.disabled {
    background-color: #a5d6a7;
    cursor: not-allowed;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background-color: #cccccc;
  border: 1px solid #999999;
}

button:disabled:hover {
  transform: none;
  box-shadow: none;
}

.upload-button:disabled,
.camera-button:disabled,
.send-button:disabled {
  color: #666666;
}

/* Loading spinner */
.loading-spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left: 4px solid #ffffff;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Profile picture */
.profile-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

/* Image preview container */
.image-preview-container {
    position: relative;
    margin-top: 10px;
}

.image-preview {
    width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.remove-image-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.remove-image-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

/* Camera container styles */
.camera-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px;
    object-fit: cover;
    box-sizing: border-box;
    max-width: 100vw;
    max-height: 100vh;
    overflow: auto;
}

.camera-controls {
    display: flex;
    justify-content: space-between;
    width: 96%;
    max-width: 600px;
    margin-top: 10px;
}

.capture-button,
.exit-button,
.camera-toggle-button {
    background: #096609;
    border: none;
    border-radius: 12px;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    padding: 0 12px;
    margin: 10px;
    font-size: 14px;
    width: 100%; 
    box-sizing: border-box;
}

.exit-button {
    background: #ff4d4d; 
}

.exit-button:hover {
    background: #e03a3a; 
}

.camera-toggle-button svg {
    font-size: 14px;
    transition: transform 0.3s ease;
}

.camera-toggle-button:hover svg {
    transform: rotate(180deg);
}

/* Video feed styles */
.video-feed {
    max-width: 600px;
    width: 100%;
    max-height: none;
    border-radius: 12px; 
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

/* Responsive Design */
@media (max-width: 768px) {
    .chat-container {
        padding: 16px;
        max-width: 100%;
        height: 100dvh;
        margin-top: 0px;
        border-radius: 0px;
        overflow: hidden;
    }

    .input-container {
        gap: 2px; 
    }

    .message-input {
        font-size: 14px;
    }
}

@media (max-width: 480px) {

    .chat-container {
        padding: 16px;
        max-width: 100%; 
        height: 100dvh;
        border-radius: 0px;
        overflow: hidden;
    }

    .chat-title h2 {
        font-size: 20px;
    }

    .profile-pic {
        width: 45px;
        height: 45px;
    }

    .message-input {
        font-size: 16px;
        width: 100%; 
    }
}

   /* React-markdown styling     */

   .markdown-content {
    margin-top: -20px;
    font-size: 12px;
    line-height: 1.5;
    margin-bottom: -20px;
   }

  .markdown-content p {
    font-weight: normal;
  }
  
  .markdown-content strong {
    font-weight: bold;
  }
  
  .markdown-content em {
    font-style: italic;
  }
  
  .markdown-content a {
    color: blue;
    text-decoration: underline;
  }
  
  .message.user .markdown-content p{
    color: white;
  }