.detailed-view {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 20px;
  min-height: 100vh;
}

.forum-title {
  font-size: 28px;
  margin-bottom: 10px;
}

.forum-author, .forum-date, .comment-author, .comment-date, .reply-author, .reply-date {
  color: #666;
  font-size: 0.9em;
  margin: 5px 0;
}

.forum-content, .comment-text, .reply-text {
  word-wrap: break-word;
  margin-top: 20px;
}

.forum-content p, .comment-text p, .reply-text p {
  font-size: 20px;
  margin: 20px 0;
  font-weight: normal;
  line-height: 1.1em;
}

.forum-content li, .comment-text li, .reply-text li {
  margin: 20px 0;
  line-height: 1.1em;
  font-weight: normal;
  font-size: 18px;
}

.comment-input {
  margin: 20px 0;
}

.comment-list, .reply-list {
  list-style-type: none;
  padding: 0;
}

.comment-item, .reply-item {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
}

.reply-item {
  background-color: #f0f0f0;
  border-color: #ccc;
  padding: 10px;
  margin-top: 8px;
}

.button-group {
  display: flex;
  justify-content: space-between;
}

.button-back, .forum-button-detailed {
  background-color: #ffffff;
  color: grey;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.forum-button-detailed {
  padding: 8px 12px;
}

/* Quill Editor Styles */
.ql-container {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
  background: #fefcfc;
}

.ql-snow.ql-toolbar {
  display: block;
  background: #eaecec;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

.ql-editor {
  min-height: 10em;
  font-weight: normal;
  white-space: normal;
  word-wrap: break-word;
}

.ql-editor p, .ql-editor li {
  font-weight: normal;
  font-size: 16px;
}

.ql-editor li {
  margin-left: -10px;
}


/* Responsive Styles */
@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }

  .forum-title {
    font-size: 24px;
  }

  .forum-button, .forum-button-detailed, .button-back {
    font-size: 14px;
  }

  .forum-content p, .comment-text p, .reply-text p {
    font-size: 14px;
  }

  .forum-content li, .comment-text li, .reply-text li {
    font-size: 14px;
  }

  .ql-editor {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 12px;
  }

  .forum-title {
    font-size: 20px;
  }

  .forum-button, .forum-button-detailed, .button-back {
    font-size: 10px;
    padding: 6px 12px;
  }

  .forum-content p, .comment-text p, .reply-text p {
    font-size: 12px;
  }

  .forum-content li, .comment-text li, .reply-text li {
    font-size: 12px;
    margin-top: -12px;
    margin-left: -8px;
  }

  .ql-editor p, .ql-editor li {
    font-size: 12px;
  }

  .ql-editor li {
    margin-left: -12px;
  }

}