/* Sensors.css */
.sensor-container {
  display: flex;
  flex-direction: row; /* Default to row on larger screens */
  flex-wrap: wrap; /* Allow items to wrap to the next line if necessary */
  justify-content: center;
  gap: 16px;
  margin-bottom: 80px;
}

.sensor-card {
  width: 230px;
  margin: 10px;
  border-radius: 12px !important;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.301) !important;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
  .sensor-container {
    flex-direction: column; /* Stack items in a column on smaller screens */
  }
}

.ask-aiponics-container {
  position: fixed; 
  bottom: 15px;  /* Move container lower on the screen */
  right: 15px; 
  display: flex;
  align-items: center;
  gap: 10px;
}

.ask-aiponics-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; 
  border: none; 
  width: 90px; 
  height: 90px; 
  border-radius: 50%; 
  text-decoration: none;
  box-shadow: none; 
  cursor: pointer;
  animation: pulse 1.5s infinite; 
}

.ask-aiponics-button img {
  width: 100%; 
  height: 100%; 
  border-radius: 30%;
  object-fit: contain !important; 
}

/* Animation for the button */
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.text-bubble {
  background-color: #3693f7; 
  color: white;
  padding: 12px; 
  border-radius: 20px; 
  margin-left: -20px;  /* Adjust positioning */
  font-size: 15px; 
  position: relative;
  max-width: 220px; 
  text-align: center; 
}

.text-bubble::before {
  content: none;
}


