.info-card-title {
    font-size: 16px;
}

.info-card {
    width: 100%;
    height: 230px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.info-card-content {
    width: 100%;
}

.info-card-input {
    width: 100%;
    margin-bottom: 16px;
    text-align: left;
}

.days-planted-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.days-planted-text {
    font-family: Inter, sans-serif;
    text-align: left;
}

.info-card-save-button {
    font-size: 16px;
    margin-bottom: -18px;
    margin-top: 10px;
    font-weight: 540;
    border-radius: 10px;
}