.temp-status-card {
    width: 100%;
    height: 230px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.temperature-alert-icon {
    font-size: 50px !important;
}
  
.temperature-alert-text {
    font-weight: bold !important;
    font-size: 1.2rem !important;
}

.pH-level-card {
    width: 100%;
    height: 250px;
    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    overflow-y: hidden;
}
