body {
  margin: 0; /* Ensure no extra margin around the page */
}

.App {
  text-align: center;
}


.Appbg {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color:  #F1F8E9;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


h2 {
  margin-bottom: 10px;
}

p {
  font-size: 1.5em;
  font-weight: bold;
  color: #000000;
}

/* Adjustments for Gauge */
.MuiCircularProgress-root {
  color: #61dafb; /* Change gauge color */
}

.MuiTypography-caption {
  font-size: 1.2em; /* Adjust label font size */
  color: #000000; /* Adjust label color */
}

.loading-text {
  color: darkgray; /* Set the color for loading text */
}